@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

/* Variables */
:root {
	--bg-primary: #495e57;
	--heading-color: #f4ce14;
	--accent-200: #fbdabb;
	--accent-800: #ee9972;
	--dark-200: #edefee;
	--dark-800: #333;
	--white: #fff;
	--dark: #000;

	--font-title: 'Markazi Text', serif;
	--font-body: 'Karla', sans-serif;
}

/* Reset */
* {
	box-sizing: border-box;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-body);
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title);
	font-weight: 500;
}

ul {
	list-style: none;
}

/* Layout */
.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Utils */
.grid {
	display: grid;
}

.flex {
	display: flex;
}

img {
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}